.login__logo {
  font-size: 200px;
  text-align: center;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  color: white;
  flex-direction: column;
  background-color: rgb(46, 198, 114);
  height: 100vh;
}

.login > h1 {
  font-weight: 200;
  font-size: 80px;
}

.signin__button {
  border-radius: 50px;
  width: 13rem;
  height: 3rem;
  border: none;
  font-size: 1.3em;
  margin: 2em;
  color: white;
  border: 2px solid white;
  font-weight: bolder;
  background-color: rgb(65, 179, 228);
  cursor: pointer;
}
